<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom styles for this template -->
    <link href="../styles/navbar.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#">MASI</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/logout"> log out   <%= user%> </a>
            </li>
          </ul>
          <form class="form-inline float-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav> <!-- /navbar -->

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>PockeMASI</h1>
       
		
	   <div class="form-group">
		  <label for="usr">Name:</label>
		 
			  <input type="text" id="textsearch" name="example" list="datalistPockemon">
				<datalist id="datalistPockemon">
					
				</datalist>

            <button class="btn btn-outline-success" type="submit" id="addPockemon">add</button>
		 
        </div>
		
		<img id="pockeonImage" class="col-md-6">
		
		
		<div class="col-md-6">
			<table id="statPockeSelected" class="table table-striped" >
			  <thead>
				<tr>
				  <th>Stat</th>
				  <th>Value</th>

				</tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
		</div>
		
		<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
		
		<h2>Your Team </h2>
		
		
		
		<table class="table table-bordered" id="tablemyteam">
				<thead>
				<tr>
				<th >Pockemons</th>
				</tr>
				</thead>
			  <tbody>

			  </tbody>
		
		
	</table>
	
	<hr style="width: 100%; color: black; height: 1px; background-color:red;" />
	
	<h3>Chart</h3>
	
	<table class="table table-bordered" id="summaryTeam">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>1/4</th>
			  <th>1/2</th>
			  <th>1</th>
			  <th>2</th>
			  <th>4</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row" id="normal"> normal</th>
		<!--	  <td>Mark</td>
			  <td>Otto</td>
			  <td>@mdo</td>   !-->
			</tr>
			<tr>
			  <th scope="row" id="fire">fire</th>

			</tr>
			<tr>
			  <th scope="row" id="water">water</th>

			</tr>
			<tr>
			  <th scope="row" id="electric">electric</th>

			</tr>
			<tr>
			  <th scope="row" id="grass">grass</th>

			</tr>
			<tr>
			  <th scope="row" id="ice">ice</th>

			</tr>
			<tr>
			  <th scope="row" id="fighting">fighting</th>

			</tr>
			<tr>
			  <th scope="row" id="poison">poison</th>

			</tr>
			<tr>
			  <th scope="row" id="ground">ground</th>

			</tr>
			<tr>
			  <th scope="row" id="flying">flying</th>

			</tr>
			<tr>
			  <th scope="row" id="psychic">psychic</th>

			</tr>
			<tr>
			  <th scope="row" id="bug">bug</th>

			</tr>
			<tr>
			  <th scope="row" id="rock">rock</th>

			</tr>
			<tr>
			  <th scope="row" id="ghost">ghost</th>

			</tr>
			<tr>
			  <th scope="row" id="dragon">dragon</th>

			</tr>
			<tr>
			  <th scope="row" id="dark">dark</th>

			</tr>
			<tr>
			  <th scope="row" id="steel">steel</th>

			</tr>
			<tr>
			  <th scope="row" id="fairy">fairy</th>

			</tr>
			
		  </tbody>
		</table>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>

	<script type="text/javascript">
			var pockemonSelected = {};
			pockemonSelected.name ='';
			var dictPockemon=[];
			var valueAddItem=1000;
			var dictPockemonTEAM=[];
			var dictTablePockemonTEAM={};
				
					$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: 'http://pokeapi.co/api/v2/pokedex/1/',						
                        success: function(data) {
							
							var listPockemonJson = data["pokemon_entries"]; 
							var options = '';
							listPockemonJson.forEach(function(entry) {
								//console.log(entry['pokemon_species'].url);
								dictPockemon[entry['pokemon_species'].name]= entry['pokemon_species'].url;
								 options += '<option value="'+ entry['pokemon_species'].name+'" />';

								document.getElementById('datalistPockemon').innerHTML = options;
								});

                           // console.log('success');
                        }
					});
					
					$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: '/home/getpockemonUser/',						
                        success: function(data) {
						
				
							
							if(data !=null)
							{
								fillTableGraph(data);
								
								$.ajax({
								type: 'GET',
								contentType: 'application/json',
								url: 'http://pokeapi.co/api/v2/ability/',						
									success: function(attckPoke) {
									
									var listPockemonAttack = attckPoke["results"]; 
									var options = '';
									dictPockemonTEAM=[];
									
									listPockemonAttack.forEach(function(entry) {
										
										 options += '<option value="'+ entry.name+'" />';

										
										});
									
									
								
											for (var i = 0; i < data.length; i++){
											var obj = data[i];
											var myStat = '';
											

											
											
											for (var key in obj){
												
												var attrName = key;
												var attrValue = obj[key];
												if(attrName =='speed' || attrName =='specialDefense' || attrName =='specialAttack'|| attrName =='defense' || attrName =='attack' || attrName =='hp')
												{
													myStat+= '  '+attrName +' : '+attrValue+' ';
												}
												
											};
											
										
											
											$("#tablemyteam").find('tbody')
											.append('<hr style="width: 100%; color: black; height: 1px; background-color:black;" /> <tr> <th scope="row">  <p>'+obj.name+' <img  src='+obj.urlPhoto+' />  <button class="btn btn-outline-danger" type="submit" id="deletePockemon'+obj._id+'" value="'+obj._id+'" > Delete pockemon </button> </p> <p>  '+myStat+'	</p> <p>Attack:'+
											'  <input type="text" id="textsearchAttack'+obj._id+'" name="example" list="attack'+obj._id+'">'+
											' 	<datalist id="attack'+obj._id+'"> '+options+' 	</datalist> '+
											' <button class="btn btn-outline-success" type="submit" id="addattack'+obj._id+'">add attack</button>'+
											
											'</p> <div id="listAttack'+obj._id+'"> </div> <div id="object'+obj._id+'"> </div></th> </tr> ');
											
											 var attacktoAdd = "";
											if(obj.attacks != null)
											{
												var indice =0;
												obj.attacks.forEach(function(entry) {
													if(entry != '')
													{
														
														attacktoAdd = '<p id='+indice+'pdeleteattack'+obj._id+'> '+entry+' <button class="btn btn-outline-success" type="submit" id='+indice+'deleteattack'+obj._id+' value='+entry+'>delete attack</button> <p/>';
														//console.log("attack: "+entry);
													
														document.getElementById("listAttack"+obj._id).innerHTML += attacktoAdd;
														
																												
														indice++;
													}	
												});
												
												$('#deletePockemon'+obj._id).click( function(){
													var id = this.id;
													var valueButton = this.value;
													
													var pockemon = {};
													
													pockemon.idPockemon =valueButton;
													
													$.ajax({
														type: 'POST',
														data: JSON.stringify(pockemon),
														contentType: 'application/json',
														url: '/home/deletePockemon',						
														success: function(answer) {
														
															location.reload();

														}
													
													});
												
												});
												
												var k = 0;
												for( k=0; k < indice; ++k)
												{
														$("#"+k+'deleteattack'+obj._id).click( function(){
																
																var id = this.id;
																var valueButton = this.value;
																var sub= id.substring(1);
																var res = sub.replace("deleteattack", "");
																
																
																var attackDelete = {};
																attackDelete.name = valueButton;
																attackDelete.idPockemon =res;
																
																$.ajax({
																		type: 'POST',
																		data: JSON.stringify(attackDelete),
																		contentType: 'application/json',
																		url: '/home/deletePockemonAttack',						
																		success: function(answer) {
																			console.log('success');
																			
																			var a = id;
																			var b = "p";
																			var position = 1;
																			var output = [a.slice(0, position), b, a.slice(position)].join('');
																			$("#"+output).remove();
																		}
																});
																
															});
												}
												
										
											}
														
											$("#addattack"+obj._id).click( function(){
												var id = this.id;
												var res = id.replace("addattack", "");
												var attackName = $('#textsearchAttack'+res).val();
											
												var attack = {};
												attack.name = attackName;
												attack.idPockemon =res;
												
												var rowCount = $('#listAttack'+res+' p').length;
										
												if(rowCount < 8 && attackName != '')
												{
													$.ajax({
															type: 'POST',
															data: JSON.stringify(attack),
															contentType: 'application/json',
															url: '/home/addPockemonAttack',						
															success: function(answer) {
															
															location.reload();

														   valueAddItem++;
															}
													});
												}
												else
												{
													alert("max 4 attacks and cannot be empty");
												}
										
											
											});
											
									     
										
											}
											addObject(data);
									}
								});
							}
							
							
                           // console.log('success');

                        }
					});
					
					function addObject(data)
					{
						for (var i = 0; i < data.length; i++)
						{
							(function (i) {
								var obj = data[i];
								$.ajax({
								
									type: 'GET',
									contentType: 'application/json',
									url: 'http://pokeapi.co/api/v2/pokemon/'+obj.name+'/',						
									success: function(pockemon) {
									
									//console.log(pockemon);
									var listPockemonObject = pockemon["held_items"]; 
									var options = '';
								
								listPockemonObject.forEach(function(entry) {
											var item =entry['item'].name;
											//console.log(item);
										 options += '<option value="'+ item+'" />';

										});
									
									if(options != '')
									{
										$("#object"+obj._id).append(  '  <input type="text" id="textsearchobjet'+obj._id+'" name="example" list="objet'+obj._id+'">'+
												' 	<datalist id="objet'+obj._id+'">  '+options+'	</datalist> '+
												' <button class="btn btn-outline-success" type="submit" id="addobjet'+obj._id+'">add object</button>'
										
										);
										
										if(obj.object !="" || obj.object != null)
										{
											var deleteObject = '<p id="pdeleteobject'+obj._id+'"> '+obj.object+' <button class="btn btn-outline-success" type="submit" id="deleteobject'+obj._id+'" value="'+ obj._id+'"> delete object </button> </p>';
											$("#object"+obj._id).append(deleteObject);
										}
										
										$("#deleteobject"+obj._id).click( function(){
												var object = {};
												var id = this.id;
												var res = id.replace("deleteobject", "");
												object.idPockemon =res;
												
												
												
												$.ajax({
														type: 'POST',
														data: JSON.stringify(object),
														contentType: 'application/json',
														url: '/home/deletePockemonObject',						
														success: function(answer) {
														
														$("#pdeleteobject"+res).remove();

														}
												});	
												
										});
										
											$("#addobjet"+obj._id).click( function(){
												var id = this.id;
												var res = id.replace("addobjet", "");
												var name = $('#textsearchobjet'+res).val();
											
												var object = {};
												object.name = name;
												object.idPockemon =res;
												
												var check = $('#pdeleteobject'+res).length;
												if(check ==0)
												{
												
												$.ajax({
														type: 'POST',
														data: JSON.stringify(object),
														contentType: 'application/json',
														url: '/home/addPockemonObject',						
														success: function(answer) {
														
														
																	
																		var deleteObject = '<p id="pdeleteobject'+res+'"> '+name+' <button class="btn btn-outline-success" type="submit" id="deleteobject'+res+'" value="'+ res+'"> delete object </button> </p>';
																		$("#object"+obj._id).append(deleteObject);
																		
																		
																		$("#deleteobject"+res).click( function(){
																				var object = {};
																				var id = this.id;
																				var res = id.replace("deleteobject", "");
																				object.idPockemon =res;
																				
																				$.ajax({
																						type: 'POST',
																						data: JSON.stringify(object),
																						contentType: 'application/json',
																						url: '/home/deletePockemonObject',						
																						success: function(answer) {
																						
																						$("#pdeleteobject"+res).remove();

																						}
																				});	
																				
																		});
														

														}
													});	
												}		
												else
												{
													alert("only one item");
												}
											
											});
										
									}
										
										
										
									}
								});
							})(i);
						}
					}
					
					
		$("#addPockemon").click( function()
           {
				
				if(pockemonSelected.name !='')
				{
					var rowCount = $('#tablemyteam hr').length;
				
					
					if(rowCount <6)
					{
						$.ajax({
								type: 'POST',
								data: JSON.stringify(pockemonSelected),
								contentType: 'application/json',
								url: '/home/addPockemon',						
								success: function(data) {
									
								location.reload();	
							   
								}
						});
					}
					else
					{
							alert("Max 6 pockemons in your team");
					}
					
				}
				else
				{
					alert("cannot be empty");
				}
           }
      );
					
		$('#textsearch').on('input',function(e){
			var pockemon = $('#textsearch').val();
			var url = dictPockemon[pockemon];
			pockemonSelected.no_damage_to = [];
			pockemonSelected.half_damage_to = [];
			pockemonSelected.double_damage_to = [];
			pockemonSelected.no_damage_from = [];
			pockemonSelected.half_damage_from = [];
			pockemonSelected.double_damage_from = [];
			
			if(url != null)
			{
				console.log(url);
				$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: 'http://pokeapi.co/api/v2/pokemon/'+pockemon+'/',						
                        success: function(data) {
							
						 var urlImage=data['sprites'].front_default;
			
						//console.log(data['types']);
						
						data['types'].forEach(function(entry) {
							
						});
						
						for (var i = 0; i < data['types'].length; i++)
						{
							
							
								var type = data['types'][i];
								//console.log(type.type.url);
								$.ajax({
								async : false,
								type: 'GET',
								contentType: 'application/json',
								url: type.type.url,						
								success: function(dataType) {
								
								console.log(dataType.damage_relations);	
								var damagedouble_damage_from = dataType.damage_relations['double_damage_from'];
								var damagedouble_damage_to = dataType.damage_relations['double_damage_to'];
								var damagehalf_damage_from = dataType.damage_relations['half_damage_from'];
								var damagehalf_damage_to = dataType.damage_relations['half_damage_to'];
								var damageno_damage_from = dataType.damage_relations['no_damage_from'];
								var damageno_damage_to = dataType.damage_relations['no_damage_to'];
							
								damagedouble_damage_from.forEach(function(entry) {
									pockemonSelected.double_damage_from.push(entry.name);
									console.log(entry.name);
								});
								damagedouble_damage_to.forEach(function(entry) {
									pockemonSelected.double_damage_to.push(entry.name);
									console.log(entry.name);
								});
								damagehalf_damage_from.forEach(function(entry) {
									pockemonSelected.half_damage_from.push(entry.name);
									console.log(entry.name);
								});
								damagehalf_damage_to.forEach(function(entry) {
									pockemonSelected.half_damage_to.push(entry.name);
									console.log(entry.name);
								});
								damageno_damage_from.forEach(function(entry) {
									pockemonSelected.no_damage_from.push(entry.name);
									console.log(entry.name);
								});
								damageno_damage_to.forEach(function(entry) {
									pockemonSelected.no_damage_to.push(entry.name);
									console.log(entry.name);
								});
								
								}
							
							  });
						
						}
						
						//console.log(data);						
												  
						 var arrayStats =data['stats'];

						 pockemonSelected.urlImage =urlImage;
						 pockemonSelected.name = data['name'];
						 pockemonSelected.dictStat = [];
						 
						 $("#statPockeSelected > tbody").html("");
						 arrayStats.forEach(function(entry) {
							
							$("#statPockeSelected").find('tbody')
							.append('<tr>   <th scope="row">'+entry['stat'].name +'</th> <td>'+entry.base_stat +'</td> </tr>')
										
										
											 pockemonSelected.dictStat.push({
									key:   entry['stat'].name,
									value: entry.base_stat
								}); 
									});
						 
						  $('#pockeonImage').attr('src',urlImage);
					
                        //    console.log(data);

                        }
					});
				
			}
			
    });
	
	var dictPockemonTEAMDamage={};
	dictTablePockemonTEAM['normal']=  {};
	dictTablePockemonTEAM['fire']=  {};
	dictTablePockemonTEAM['water']=  {};
	dictTablePockemonTEAM['electric']=  {};
	dictTablePockemonTEAM['grass']=  {};
	dictTablePockemonTEAM['ice']=  {};
	dictTablePockemonTEAM['fighting']=  {};
	dictTablePockemonTEAM['poison']=  {};
	dictTablePockemonTEAM['ground']=  {};
	dictTablePockemonTEAM['flying']=  {};
	dictTablePockemonTEAM['psychic']=  {};
	dictTablePockemonTEAM['bug']=  {};
	dictTablePockemonTEAM['rock']=  {};
	dictTablePockemonTEAM['ghost']=  {};
	dictTablePockemonTEAM['dragon']=  {};
	dictTablePockemonTEAM['dark']=  {};
	dictTablePockemonTEAM['steel']=  {};
	dictTablePockemonTEAM['fairy']=  {};
	
	
	function fillTableGraph(pockemons)
	{
		
		for (var key in dictTablePockemonTEAM) {
			dictTablePockemonTEAM[key]['double_damage_from']=0;
			dictTablePockemonTEAM[key]['double_damage_to']=0;
			dictTablePockemonTEAM[key]['half_damage_from']=0;
			dictTablePockemonTEAM[key]['half_damage_to']=0;
			dictTablePockemonTEAM[key]['no_damage_from']=0;
			dictTablePockemonTEAM[key]['no_damage_to']=0;
		}

		console.log(pockemons)
		
		pockemons.forEach(function(entry) {
		
			if(entry['double_damage_from'].length >0)
			{
				entry['double_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['double_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['double_damage_from'] +=1;
							}
						}
					
				});
			}
			if(entry['double_damage_to'].length >0)
			{
				entry['double_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['double_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['double_damage_to'] +=1;
							}
						}
					
				});
			}
			if(entry['half_damage_from'].length >0)
			{
				entry['half_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['half_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['half_damage_from'] +=1;
							}
						}
						
					
				});
			}
			if(entry['half_damage_to'].length >0)
			{
				entry['half_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['half_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['half_damage_to'] +=1;
							}
						}
			
				});
			}
			if(entry['no_damage_from'].length >0)
			{
				entry['no_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['no_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['no_damage_from'] +=1;
							}
						}
					
				});
			}
			if(entry['no_damage_to'].length >0)
			{
				entry['no_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['no_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['no_damage_to'] +=1;
							}
						}
				
				});
			}
		});
		
		// fill table
			for (var key in dictTablePockemonTEAM) {
			
				for (var keyAttack in dictTablePockemonTEAM[key]) {
				
					if(keyAttack != 'no_damage_to')
					{
						$( "#"+key).after('<td>'+dictTablePockemonTEAM[key][keyAttack]+'</td>'); 
					}
				}	
		}
		
		
	}
	
	</script>
	
  </body>
</html>