<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom styles for this template -->
    <link href="../styles/navbar.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" >MASI</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <form class="form-inline float-xs-right">

            <a class="btn btn-outline-success" href="/home/logout"  </button> log out   <%= user%> </a>
          </form>
        </div>
      </nav> <!-- /navbar -->

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>PockeMASI</h1>
       
		
	   <div class="form-group">
		  <label for="usr">Name:</label>
		 
			  <input type="text" id="textsearch" name="example" list="datalistPockemon">
				<datalist id="datalistPockemon">
					
				</datalist>

            <button class="btn btn-outline-success" type="submit" id="addPockemon">add</button>
		 
        </div>
		
		<img id="pockeonImage" class="col-md-6">
		
		
		<div class="col-md-6">
			<table id="statPockeSelected" class="table table-striped" >
			  <thead>
				<tr>
				  <th>Stat</th>
				  <th>Value</th>

				</tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
		</div>
		
		<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
		
		<h2>Your Team </h2>
		
		
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">SUMMARY TEAM</button>
		 
		<table class="table table-bordered" id="tablemyteam">
				<thead>
				<tr>
				<th >Pockemons</th>
				</tr>
				</thead>
			  <tbody>

			  </tbody>
		
		
	</table>
	
	<hr style="width: 100%; color: black; height: 1px; background-color:red;" />
	
	
	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Team</h4>
        </div>
        <div class="modal-body">
				<table class="table table-bordered" id="summaryTeam">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>1/4</th>
			  <th>1/2</th>
			  <th>1</th>
			  <th>2</th>
			  <th>4</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row" id="normal"> normal</th>
		<!--	  <td>Mark</td>
			  <td>Otto</td>
			  <td>@mdo</td>   !-->
			</tr>
			<tr>
			  <th scope="row" id="fire">fire</th>

			</tr>
			<tr>
			  <th scope="row" id="water">water</th>

			</tr>
			<tr>
			  <th scope="row" id="electric">electric</th>

			</tr>
			<tr>
			  <th scope="row" id="grass">grass</th>

			</tr>
			<tr>
			  <th scope="row" id="ice">ice</th>

			</tr>
			<tr>
			  <th scope="row" id="fighting">fighting</th>

			</tr>
			<tr>
			  <th scope="row" id="poison">poison</th>

			</tr>
			<tr>
			  <th scope="row" id="ground">ground</th>

			</tr>
			<tr>
			  <th scope="row" id="flying">flying</th>

			</tr>
			<tr>
			  <th scope="row" id="psychic">psychic</th>

			</tr>
			<tr>
			  <th scope="row" id="bug">bug</th>

			</tr>
			<tr>
			  <th scope="row" id="rock">rock</th>

			</tr>
			<tr>
			  <th scope="row" id="ghost">ghost</th>

			</tr>
			<tr>
			  <th scope="row" id="dragon">dragon</th>

			</tr>
			<tr>
			  <th scope="row" id="dark">dark</th>

			</tr>
			<tr>
			  <th scope="row" id="steel">steel</th>

			</tr>
			<tr>
			  <th scope="row" id="fairy">fairy</th>

			</tr>
			
		  </tbody>
		</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
	


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
			var pockemonSelected = {};
			pockemonSelected.name ='';
			var dictPockemon=[];
			var listePockemon=[];
			var valueAddItem=1000;
			var dictPockemonTEAM=[];
			var dictTablePockemonTEAM={};
			var options = '';
				
					$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: 'http://pokeapi.co/api/v2/pokedex/1/',						
                        success: function(data) {
							
							var listPockemonJson = data["pokemon_entries"]; 
							var options = '';
							listPockemonJson.forEach(function(entry) {
								//console.log(entry['pokemon_species'].url);
								dictPockemon[entry['pokemon_species'].name]= entry['pokemon_species'].url;
								 options += '<option value="'+ entry['pokemon_species'].name+'" />';

								document.getElementById('datalistPockemon').innerHTML = options;
								});

                           // console.log('success');
                        }
					});
					
					$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: '/home/getpockemonUser/',						
                        success: function(data) {
						
				
							listePockemon = data;
							if(data !=null)
							{
								fillTableGraph(data);
					
								
								$.ajax({
								type: 'GET',
								contentType: 'application/json',
								url: 'http://pokeapi.co/api/v2/ability/',						
									success: function(attckPoke) {
									
									var listPockemonAttack = attckPoke["results"]; 
									
									dictPockemonTEAM=[];
									
									listPockemonAttack.forEach(function(entry) {
										
										 options += '<option value="'+ entry.name+'" />';

										
										});
									
									
								
											for (var i = 0; i < data.length; i++){
											var obj = data[i];
											var myStat = '';

											
											for (var key in obj){
												
												var attrName = key;
												var attrValue = obj[key];
												if(attrName =='speed' || attrName =='specialDefense' || attrName =='specialAttack'|| attrName =='defense' || attrName =='attack' || attrName =='hp')
												{
													myStat+= '  '+attrName +' : '+attrValue+' ';
												}
												
											};
											
										
											
											$("#tablemyteam").find('tbody')
											.append('<div id="div'+obj._id+'"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /> <tr> <th scope="row">  <p>'+obj.name+' <img  src='+obj.urlPhoto+' />  <button class="btn btn-outline-danger" type="submit" id="deletePockemon'+obj._id+'" value="'+obj._id+'" > Delete pockemon </button> </p> <p>  '+myStat+'	</p> <p>Attack:'+
											'  <input type="text" id="textsearchAttack'+obj._id+'" name="example" list="attack'+obj._id+'">'+
											' 	<datalist id="attack'+obj._id+'"> '+options+' 	</datalist> '+
											' <button class="btn btn-outline-success" type="submit" id="addattack'+obj._id+'">add attack</button>'+
											'</p> <div  class="row" id="listAttack'+obj._id+'">'+
											'<div class="col-md-3"> <div id="0divDeleteAttack'+obj._id+'"> no skill </div> <button class="btn btn-outline-success" type="submit" id='+0+'deleteattack'+obj._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="1divDeleteAttack'+obj._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+1+'deleteattack'+obj._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="2divDeleteAttack'+obj._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+2+'deleteattack'+obj._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="3divDeleteAttack'+obj._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+3+'deleteattack'+obj._id+' >delete attack</button> </div>'+
											
											'</div> </br> <div class="row" id="object'+obj._id+'"> </div></th> </tr> </div>');
											
											 var attacktoAdd = "";
											if(obj.attacks != null)
											{
												var indice =0;
												obj.attacks.forEach(function(entry) {
													if(entry != '')
													{
														
														attacktoAdd = '<p id='+indice+'pdeleteattack'+obj._id+'> '+entry+' <button class="btn btn-outline-success" type="submit" id='+indice+'deleteattack'+obj._id+' value='+entry+'>delete attack</button> <p/>';
														//console.log("attack: "+entry);
													
														document.getElementById(indice+"divDeleteAttack"+obj._id).innerHTML = entry;
														document.getElementById(indice+"deleteattack"+obj._id).value=entry;
														
																												
														indice++;
													}	
												});
												
												$('#deletePockemon'+obj._id).click( function(){
													var id = this.id;
													var valueButton = this.value;
													
													var pockemon = {};
													
													pockemon.idPockemon =valueButton;
													
													
													$.ajax({
														type: 'POST',
														data: JSON.stringify(pockemon),
														contentType: 'application/json',
														url: '/home/deletePockemon',						
														success: function(answer) {
														
															document.getElementById('div'+valueButton).remove();
															//location.reload();

														}
													
													});
												
												});
												
												var k = 0;
												for( k=0; k < 4; ++k)
												{
														$("#"+k+'deleteattack'+obj._id).click( function(){
														
																var id = this.id;
																var valueButton = this.value;
																var sub= id.substring(1);
																var res = sub.replace("deleteattack", "");
																
																
																var attackDelete = {};
																attackDelete.name = valueButton;
																attackDelete.idPockemon =res;
											
																//alert(document.getElementById(indice+"divDeleteAttack"+obj._id).innerHTML);
																document.getElementById(id.charAt(0)+"divDeleteAttack"+res).innerHTML = "no skill";
																document.getElementById(id.charAt(0)+"deleteattack"+res).value="";
																		
																$.ajax({
																		type: 'POST',
																		data: JSON.stringify(attackDelete),
																		contentType: 'application/json',
																		url: '/home/deletePockemonAttack',						
																		success: function(answer) {
																				document.getElementById(id.charAt(0)+"divDeleteAttack"+res).innerHTML = "no skill";
																				document.getElementById(id.charAt(0)+"deleteattack"+res).value="";
																		}
																});
																
															});
												}
												
										
											}
														
											$("#addattack"+obj._id).click( function(){
												var id = this.id;
												var res = id.replace("addattack", "");
												var attackName = $('#textsearchAttack'+res).val();
											
												var attack = {};
												attack.name = attackName;
												attack.idPockemon =res;
												
												var rowCount = $('#listAttack'+res+' p').length;
												
												var canAddAttack = false;
															for(var i = 0; i < 4 ; ++i)
															{
																var value =document.getElementById(i+"divDeleteAttack"+res).textContent;
																//console.log(value);
																if(value.includes("no skill"))
																{
																	canAddAttack = true;
																	break;
																}
															}
												
												if(attackName != '' && canAddAttack)
												{
													$.ajax({
															type: 'POST',
															data: JSON.stringify(attack),
															contentType: 'application/json',
															url: '/home/addPockemonAttack',						
															success: function(answer) {
															
															//location.reload();
															$('#textsearchAttack'+res).val("");
															for(var i = 0; i < 4 ; ++i)
															{
																var value =document.getElementById(i+"divDeleteAttack"+res).textContent;
																//console.log(value);
																if(value.includes("no skill"))
																{
																	document.getElementById(i+"divDeleteAttack"+res).textContent = attackName;
																	document.getElementById(i+"deleteattack"+res).value=attackName;
																	break;
																}
															}
															
															
															}
													});
												}
												else
												{
													alert("cannot be empty / 4 attacks max");
												}
										
											
											});
											
									     
										
											}
											addObject(data);
									}
								});
							}
							
							
                           // console.log('success');

                        }
					});
					
					function addObject(data)
					{
						for (var i = 0; i < data.length; i++)
						{
							(function (i) {
								var obj = data[i];
								$.ajax({
								
									type: 'GET',
									contentType: 'application/json',
									url: 'http://pokeapi.co/api/v2/pokemon/'+obj.name+'/',						
									success: function(pockemon) {
									
									//console.log(pockemon);
									var listPockemonObject = pockemon["held_items"]; 
									var options = '';
								
								listPockemonObject.forEach(function(entry) {
											var item =entry['item'].name;
											//console.log(item);
										 options += '<option value="'+ item+'" />';

										});
									
									if(options != '')
									{
										$("#object"+obj._id).append(  '<p> Object:   <input type="text" id="textsearchobjet'+obj._id+'" name="example" list="objet'+obj._id+'">'+
												' 	<datalist id="objet'+obj._id+'">  '+options+'	</datalist> '+
												' <button class="btn btn-outline-success" type="submit" id="addobjet'+obj._id+'">add object</button> </p>'
										
										);
										
										if(obj.object !="" && obj.object !=null)
										{
											var deleteObject = '<p id="pdeleteobject'+obj._id+'"> '+obj.object+' <button class="btn btn-outline-success" type="submit" id="deleteobject'+obj._id+'" value="'+ obj._id+'"> delete object </button> </p>';
											$("#object"+obj._id).append(deleteObject);
										}
										
										$("#deleteobject"+obj._id).click( function(){
												var object = {};
												var id = this.id;
												var res = id.replace("deleteobject", "");
												object.idPockemon =res;
												
												
												
												$.ajax({
														type: 'POST',
														data: JSON.stringify(object),
														contentType: 'application/json',
														url: '/home/deletePockemonObject',						
														success: function(answer) {
														
														$("#pdeleteobject"+res).remove();

														}
												});	
												
										});
										
											$("#addobjet"+obj._id).click( function(){
												var id = this.id;
												var res = id.replace("addobjet", "");
												var name = $('#textsearchobjet'+res).val();
											
												var object = {};
												object.name = name;
												object.idPockemon =res;
												
												var check = $('#pdeleteobject'+res).length;
												if(check ==0)
												{
												
												$.ajax({
														type: 'POST',
														data: JSON.stringify(object),
														contentType: 'application/json',
														url: '/home/addPockemonObject',						
														success: function(answer) {
														
														
																	
																		var deleteObject = '<p id="pdeleteobject'+res+'"> '+name+' <button class="btn btn-outline-success" type="submit" id="deleteobject'+res+'" value="'+ res+'"> delete object </button> </p>';
																		$("#object"+obj._id).append(deleteObject);
																		$('#textsearchobjet'+res).val("");
																		
																		$("#deleteobject"+res).click( function(){
																				var object = {};
																				var id = this.id;
																				var res = id.replace("deleteobject", "");
																				object.idPockemon =res;
																				
																				$.ajax({
																						type: 'POST',
																						data: JSON.stringify(object),
																						contentType: 'application/json',
																						url: '/home/deletePockemonObject',						
																						success: function(answer) {
																						
																						$("#pdeleteobject"+res).remove();
																						
																						for(var i = listePockemon.length  - 1; i >= 0; i--) {
																							if(listePockemon[i]._id === res) {
																							   listePockemon.splice(i, 1);
																							   break;
																							}
																						}
																						 fillTableGraph(listePockemon);

																						}
																				});	
																				
																		});
														

														}
													});	
												}		
												else
												{
													alert("only one item");
												}
											
											});
										
									}
										
										
										
									}
								});
							})(i);
						}
					}
					
					
		$("#addPockemon").click( function()
           {
				
				if(pockemonSelected.name !='')
				{
					var rowCount = $('#tablemyteam hr').length;
				
					
					if(rowCount <6)
					{
						$.ajax({
								type: 'POST',
								data: JSON.stringify(pockemonSelected),
								contentType: 'application/json',
								url: '/home/addPockemon',						
								success: function(monpockemonAdded) {
									
									 $("#statPockeSelected > tbody").html("");
									 $('#pockeonImage').attr('src',"");
									 $('#textsearch').val("");
									  
									//console.log(monpockemonAdded);
									
									var temp = "";
									temp = monpockemonAdded.double_damage_from
									monpockemonAdded.double_damage_from = [];
									monpockemonAdded.double_damage_from.push(temp);
									
									temp = monpockemonAdded.double_damage_to
									monpockemonAdded.double_damage_to = [];
									monpockemonAdded.double_damage_to.push(temp);
									
									temp = monpockemonAdded.half_damage_from
									monpockemonAdded.half_damage_from = [];
									monpockemonAdded.half_damage_from.push(temp);
									
									temp = monpockemonAdded.half_damage_to
									monpockemonAdded.half_damage_to = [];
									monpockemonAdded.half_damage_to.push(temp);
									
									temp = monpockemonAdded.no_damage_from
									monpockemonAdded.no_damage_from = [];
									monpockemonAdded.no_damage_from.push(temp);
									
									temp = monpockemonAdded.no_damage_to
									monpockemonAdded.no_damage_to = [];
									monpockemonAdded.no_damage_to.push(temp);
									
									listePockemon.push(monpockemonAdded)
									
											var myStat = '';
									
											for (var key in monpockemonAdded){
												
												var attrName = key;
												var attrValue = monpockemonAdded[key];
												if(attrName =='speed' || attrName =='specialDefense' || attrName =='specialAttack'|| attrName =='defense' || attrName =='attack' || attrName =='hp')
												{
													myStat+= '  '+attrName +' : '+attrValue+' ';
												}
												
											};
									
									$("#tablemyteam").find('tbody')
											.append('<div id="div'+monpockemonAdded._id+'"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /> <tr> <th scope="row">  <p>'+monpockemonAdded.name+' <img  src='+monpockemonAdded.urlPhoto+' />  <button class="btn btn-outline-danger" type="submit" id="deletePockemon'+monpockemonAdded._id+'" value="'+monpockemonAdded._id+'" > Delete pockemon </button> </p> <p>  '+myStat+'	</p> <p>Attack:'+
											'  <input type="text" id="textsearchAttack'+monpockemonAdded._id+'" name="example" list="attack'+monpockemonAdded._id+'">'+
											' 	<datalist id="attack'+monpockemonAdded._id+'"> '+options+' 	</datalist> '+
											' <button class="btn btn-outline-success" type="submit" id="addattack'+monpockemonAdded._id+'">add attack</button>'+
											'</p> <div  class="row" id="listAttack'+monpockemonAdded._id+'">'+
											'<div class="col-md-3"> <div id="0divDeleteAttack'+monpockemonAdded._id+'"> no skill </div> <button class="btn btn-outline-success" type="submit" id='+0+'deleteattack'+monpockemonAdded._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="1divDeleteAttack'+monpockemonAdded._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+1+'deleteattack'+monpockemonAdded._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="2divDeleteAttack'+monpockemonAdded._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+2+'deleteattack'+monpockemonAdded._id+' >delete attack</button> </div>'+
											'<div class="col-md-3"> <div id="3divDeleteAttack'+monpockemonAdded._id+'"> no skill </div>  <button class="btn btn-outline-success" type="submit" id='+3+'deleteattack'+monpockemonAdded._id+' >delete attack</button> </div>'+
											
											'</div> </br> <div class="row" id="object'+monpockemonAdded._id+'"> </div></th> </tr> </div>');
											
											
											$('#deletePockemon'+monpockemonAdded._id).click( function(){
													var id = this.id;
													var valueButton = this.value;
													
													var pockemon = {};
													
													pockemon.idPockemon =valueButton;
													

													$.ajax({
														type: 'POST',
														data: JSON.stringify(pockemon),
														contentType: 'application/json',
														url: '/home/deletePockemon',						
														success: function(answer) {
														
															document.getElementById('div'+valueButton).remove();
															for(var i = listePockemon.length  - 1; i >= 0; i--) {
																if(listePockemon[i]._id === valueButton) {
																   listePockemon.splice(i, 1);
																   break;
																}
															}
															 fillTableGraph(listePockemon);
															//location.reload();

														}
													
													});
												
												});	
											
										var k = 0;
												for( k=0; k < 4; ++k)
												{
														$("#"+k+'deleteattack'+monpockemonAdded._id).click( function(){
														
																var id = this.id;
																var valueButton = this.value;
																var sub= id.substring(1);
																var res = sub.replace("deleteattack", "");
																
																
																var attackDelete = {};
																attackDelete.name = valueButton;
																attackDelete.idPockemon =res;
											
		
																$.ajax({
																		type: 'POST',
																		data: JSON.stringify(attackDelete),
																		contentType: 'application/json',
																		url: '/home/deletePockemonAttack',						
																		success: function(answer) {
																				document.getElementById(id.charAt(0)+"divDeleteAttack"+res).innerHTML = "no skill";
																				document.getElementById(id.charAt(0)+"deleteattack"+res).value="";
																		}
																});
																
															});
												}
												
												
												$("#addattack"+monpockemonAdded._id).click( function(){
												var id = this.id;
												var res = id.replace("addattack", "");
												var attackName = $('#textsearchAttack'+res).val();
											
												var attack = {};
												attack.name = attackName;
												attack.idPockemon =res;
												
												var canAddAttack = false;
															for(var i = 0; i < 4 ; ++i)
															{
																var value =document.getElementById(i+"divDeleteAttack"+res).textContent;
																//console.log(value);
																if(value.includes("no skill"))
																{
																	canAddAttack = true;
																	break;
																}
															}
												
												if(attackName != '' && canAddAttack)
												{
													$.ajax({
															type: 'POST',
															data: JSON.stringify(attack),
															contentType: 'application/json',
															url: '/home/addPockemonAttack',						
															success: function(answer) {
																$('#textsearchAttack'+res).val("");
															//location.reload();
															for(var i = 0; i < 4 ; ++i)
															{
																var value =document.getElementById(i+"divDeleteAttack"+res).textContent;
																//console.log(value);
																if(value.includes("no skill"))
																{
																	document.getElementById(i+"divDeleteAttack"+res).textContent = attackName;
																	document.getElementById(i+"deleteattack"+res).value=attackName;
																	break;
																}
															}
															
															
															}
													});
												}
												else
												{
													alert("cannot be empty / 4 attacks max");
												}
										
											
											});
												
												var array =[];
												 array.push(monpockemonAdded);
												 addObject(array);
												 fillTableGraph(listePockemon);
							   
								}
						});
					}
					else
					{
							alert("Max 6 pockemons in your team");
					}
					
				}
				else
				{
					alert("cannot be empty");
				}
				
				
					
           }
      );
					
		$('#textsearch').on('input',function(e){
			var pockemon = $('#textsearch').val();
			var url = dictPockemon[pockemon];
			pockemonSelected.no_damage_to = [];
			pockemonSelected.half_damage_to = [];
			pockemonSelected.double_damage_to = [];
			pockemonSelected.no_damage_from = [];
			pockemonSelected.half_damage_from = [];
			pockemonSelected.double_damage_from = [];
			
			if(url != null)
			{
				//console.log(url);
				$.ajax({
						type: 'GET',
				        contentType: 'application/json',
                        url: 'http://pokeapi.co/api/v2/pokemon/'+pockemon+'/',						
                        success: function(data) {
							
						 var urlImage=data['sprites'].front_default;
			
						//console.log(data['types']);
						
						data['types'].forEach(function(entry) {
							
						});
						
						for (var i = 0; i < data['types'].length; i++)
						{
							
							
								var type = data['types'][i];
								//console.log(type.type.url);
								$.ajax({
								async : false,
								type: 'GET',
								contentType: 'application/json',
								url: type.type.url,						
								success: function(dataType) {
								
								
								var damagedouble_damage_from = dataType.damage_relations['double_damage_from'];
								var damagedouble_damage_to = dataType.damage_relations['double_damage_to'];
								var damagehalf_damage_from = dataType.damage_relations['half_damage_from'];
								var damagehalf_damage_to = dataType.damage_relations['half_damage_to'];
								var damageno_damage_from = dataType.damage_relations['no_damage_from'];
								var damageno_damage_to = dataType.damage_relations['no_damage_to'];
							
								damagedouble_damage_from.forEach(function(entry) {
									pockemonSelected.double_damage_from.push(entry.name);
								
								});
								damagedouble_damage_to.forEach(function(entry) {
									pockemonSelected.double_damage_to.push(entry.name);
							
								});
								damagehalf_damage_from.forEach(function(entry) {
									pockemonSelected.half_damage_from.push(entry.name);
									
								});
								damagehalf_damage_to.forEach(function(entry) {
									pockemonSelected.half_damage_to.push(entry.name);
									
								});
								damageno_damage_from.forEach(function(entry) {
									pockemonSelected.no_damage_from.push(entry.name);
								
								});
								damageno_damage_to.forEach(function(entry) {
									pockemonSelected.no_damage_to.push(entry.name);
								
								});
								
								}
							
							  });
						
						}
						
						//console.log(data);						
												  
						 var arrayStats =data['stats'];

						 pockemonSelected.urlImage =urlImage;
						 pockemonSelected.name = data['name'];
						 pockemonSelected.dictStat = [];
						 
						 $("#statPockeSelected > tbody").html("");
						 arrayStats.forEach(function(entry) {
							
							$("#statPockeSelected").find('tbody')
							.append('<tr>   <th scope="row">'+entry['stat'].name +'</th> <td>'+entry.base_stat +'</td> </tr>')
										
										
											 pockemonSelected.dictStat.push({
									key:   entry['stat'].name,
									value: entry.base_stat
								}); 
									});
						 
						  $('#pockeonImage').attr('src',urlImage);
					
                        //    console.log(data);

                        }
					});
				
			}
			
    });
	
	var dictPockemonTEAMDamage={};
	dictTablePockemonTEAM['normal']=  {};
	dictTablePockemonTEAM['fire']=  {};
	dictTablePockemonTEAM['water']=  {};
	dictTablePockemonTEAM['electric']=  {};
	dictTablePockemonTEAM['grass']=  {};
	dictTablePockemonTEAM['ice']=  {};
	dictTablePockemonTEAM['fighting']=  {};
	dictTablePockemonTEAM['poison']=  {};
	dictTablePockemonTEAM['ground']=  {};
	dictTablePockemonTEAM['flying']=  {};
	dictTablePockemonTEAM['psychic']=  {};
	dictTablePockemonTEAM['bug']=  {};
	dictTablePockemonTEAM['rock']=  {};
	dictTablePockemonTEAM['ghost']=  {};
	dictTablePockemonTEAM['dragon']=  {};
	dictTablePockemonTEAM['dark']=  {};
	dictTablePockemonTEAM['steel']=  {};
	dictTablePockemonTEAM['fairy']=  {};
	
	var dictPockemonTEAMDamageTable={};
	dictPockemonTEAMDamageTable['normal']=  {};
	dictPockemonTEAMDamageTable['fire']=  {};
	dictPockemonTEAMDamageTable['water']=  {};
	dictPockemonTEAMDamageTable['electric']=  {};
	dictPockemonTEAMDamageTable['grass']=  {};
	dictPockemonTEAMDamageTable['ice']=  {};
	dictPockemonTEAMDamageTable['fighting']=  {};
	dictPockemonTEAMDamageTable['poison']=  {};
	dictPockemonTEAMDamageTable['ground']=  {};
	dictPockemonTEAMDamageTable['flying']=  {};
	dictPockemonTEAMDamageTable['psychic']=  {};
	dictPockemonTEAMDamageTable['bug']=  {};
	dictPockemonTEAMDamageTable['rock']=  {};
	dictPockemonTEAMDamageTable['ghost']=  {};
	dictPockemonTEAMDamageTable['dragon']=  {};
	dictPockemonTEAMDamageTable['dark']=  {};
	dictPockemonTEAMDamageTable['steel']=  {};
	dictPockemonTEAMDamageTable['fairy']=  {};
	
	
	function fillTableGraph(pockemons)
	{
	
	//console.log(pockemons);
	$('#summaryTeam > tbody > tr > td').remove();
	
	dictPockemonTEAMDamage={};
	dictTablePockemonTEAM['normal']=  {};
	dictTablePockemonTEAM['fire']=  {};
	dictTablePockemonTEAM['water']=  {};
	dictTablePockemonTEAM['electric']=  {};
	dictTablePockemonTEAM['grass']=  {};
	dictTablePockemonTEAM['ice']=  {};
	dictTablePockemonTEAM['fighting']=  {};
	dictTablePockemonTEAM['poison']=  {};
	dictTablePockemonTEAM['ground']=  {};
	dictTablePockemonTEAM['flying']=  {};
	dictTablePockemonTEAM['psychic']=  {};
	dictTablePockemonTEAM['bug']=  {};
	dictTablePockemonTEAM['rock']=  {};
	dictTablePockemonTEAM['ghost']=  {};
	dictTablePockemonTEAM['dragon']=  {};
	dictTablePockemonTEAM['dark']=  {};
	dictTablePockemonTEAM['steel']=  {};
	dictTablePockemonTEAM['fairy']=  {};
	
    dictPockemonTEAMDamageTable={};
	dictPockemonTEAMDamageTable['normal']=  {};
	dictPockemonTEAMDamageTable['fire']=  {};
	dictPockemonTEAMDamageTable['water']=  {};
	dictPockemonTEAMDamageTable['electric']=  {};
	dictPockemonTEAMDamageTable['grass']=  {};
	dictPockemonTEAMDamageTable['ice']=  {};
	dictPockemonTEAMDamageTable['fighting']=  {};
	dictPockemonTEAMDamageTable['poison']=  {};
	dictPockemonTEAMDamageTable['ground']=  {};
	dictPockemonTEAMDamageTable['flying']=  {};
	dictPockemonTEAMDamageTable['psychic']=  {};
	dictPockemonTEAMDamageTable['bug']=  {};
	dictPockemonTEAMDamageTable['rock']=  {};
	dictPockemonTEAMDamageTable['ghost']=  {};
	dictPockemonTEAMDamageTable['dragon']=  {};
	dictPockemonTEAMDamageTable['dark']=  {};
	dictPockemonTEAMDamageTable['steel']=  {};
	dictPockemonTEAMDamageTable['fairy']=  {};
		
		for (var key in dictTablePockemonTEAM) {
			dictTablePockemonTEAM[key]['double_damage_from']=0;
			dictTablePockemonTEAM[key]['double_damage_to']=0;
			dictTablePockemonTEAM[key]['half_damage_from']=0;
			dictTablePockemonTEAM[key]['half_damage_to']=0;
			dictTablePockemonTEAM[key]['no_damage_from']=0;
			dictTablePockemonTEAM[key]['no_damage_to']=0;			
		}
		
		for (var key in dictPockemonTEAMDamageTable) {
		
			dictPockemonTEAMDamageTable[key]['quarter']=0;
			dictPockemonTEAMDamageTable[key]['half']=0;
			dictPockemonTEAMDamageTable[key]['normal']=0;
			dictPockemonTEAMDamageTable[key]['double']=0;
			dictPockemonTEAMDamageTable[key]['fourty']=0;
		}
		
		//console.log(pockemons)
		
		pockemons.forEach(function(entry) {
		
			if(entry['double_damage_from'].length >0)
			{
				entry['double_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['double_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['double_damage_from'] +=1;
							}
						}
					
				});
			}
			if(entry['double_damage_to'].length >0)
			{
				entry['double_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
						
							dictTablePockemonTEAM[entry]['double_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['double_damage_to'] +=1;
							}
						}
					
				});
			}
			if(entry['half_damage_from'].length >0)
			{
				entry['half_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['half_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['half_damage_from'] +=1;
							}
						}
						
					
				});
			}
			if(entry['half_damage_to'].length >0)
			{
				entry['half_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['half_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['half_damage_to'] +=1;
							}
						}
			
				});
			}
			if(entry['no_damage_from'].length >0)
			{
				entry['no_damage_from'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['no_damage_from'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['no_damage_from'] +=1;
							}
						}
					
				});
			}
			if(entry['no_damage_to'].length >0)
			{
				entry['no_damage_to'].forEach(function(entry) {
						
						if(entry.includes(","))
						{
							entry.split(",").forEach(function(entry) {
							dictTablePockemonTEAM[entry]['no_damage_to'] +=1;
							});
						}
						else
						{
							if(entry != "")
							{
								dictTablePockemonTEAM[entry]['no_damage_to'] +=1;
							}
						}
				
				});
			}
		});
		

		// fill table
			for (var key in dictTablePockemonTEAM) {
				
				//console.log(dictTablePockemonTEAM[key])
				if(dictTablePockemonTEAM[key]['double_damage_from'] >= 1)
				{
					
					dictPockemonTEAMDamageTable[key]['double']=1;
				}
				if(dictTablePockemonTEAM[key]['half_damage_from'] >= 1)
				{
					dictPockemonTEAMDamageTable[key]['half']=1;
				}
				if(dictTablePockemonTEAM[key]['half_damage_from'] >= 1 && dictTablePockemonTEAM[key]['double_damage_from'] >= 1)
				{
					dictPockemonTEAMDamageTable[key]['normal']=1;
				}
				if(dictTablePockemonTEAM[key]['half_damage_from'] >= 1 && dictTablePockemonTEAM[key]['double_damage_from'] >= 1)
				{
					dictPockemonTEAMDamageTable[key]['normal']=1;
				}
				if(dictTablePockemonTEAM[key]['half_damage_from'] >= 2 )
				{
					dictPockemonTEAMDamageTable[key]['normal']=1;
				}
				if(dictTablePockemonTEAM[key]['half_damage_from'] >= 2 )
				{
					dictPockemonTEAMDamageTable[key]['quarter']=1;
				}
				if(dictTablePockemonTEAM[key]['double_damage_from'] >= 2 )
				{
					dictPockemonTEAMDamageTable[key]['fourty']=1;
				}
			}
			//console.log(dictPockemonTEAMDamageTable['fire']['double']);
			for(var key in dictPockemonTEAMDamageTable)
			{

					$( "#"+key).after('<td>'+dictPockemonTEAMDamageTable[key]['fourty']+'</td>');
				$( "#"+key).after('<td>'+dictPockemonTEAMDamageTable[key]['double']+'</td>'); 
			
					$( "#"+key).after('<td>'+dictPockemonTEAMDamageTable[key]['normal']+'</td>'); 
				
				$( "#"+key).after('<td>'+dictPockemonTEAMDamageTable[key]['half']+'</td>'); 
			$( "#"+key).after('<td>'+dictPockemonTEAMDamageTable[key]['quarter']+'</td>'); 
				
				 
			}
		
		
	}
	
	</script>
	
  </body>
</html>